<h1 class='center'>Welcome to our app</h1>


<hr />

<div class='center'>
  <button class='button teal users'>View Users</button>
  <button class='button teal create '>Create New User</button>
</div>

<hr />

<div class='add'>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="icon_prefix" type="text" class="validate first_name">
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s12">
          <input id="icon_prefix" type="text" class="validate last_name">
          <label for="icon_prefix">Last Name</label>
        </div>
        <div class="input-field col s12">
          <input id="icon_telephone" type="tel" class="validate phone_number">
          <label for="icon_telephone">Phone Number</label>
        </div>
          <button id="button" class="button teal users">Create New User</button>
      </div>
    </form>
  </div>
</div>

<ul>
  <div class='game-item'> 
  </div>
</ul>